#mainpage{
	background-color: black;
}
#aboutpage{
	background-color: black;
}
#title{
	position: absolute;
	right:50%;
	top:50%;
	color:white;
	font-size: 30px;
	animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
a {
    text-decoration: none;
    color:white;
    }
#t1{
	position: absolute;
	top:30%;	
	font-size: 50px;
	/*color:white;*/
}
#t1:hover{
	color:white;
}
#t2{
	position: absolute;
	top:80%;	
	font-size: 50px;
	right:30%;

}
#t2:hover{
	color:white;
}
#t3{
	position: absolute;
	top:10%;	
	font-size: 50px;
	right:70%;
	
}
#t3:hover{
	color:white;
}
#t4{
	position: absolute;
	top:20%;	
	font-size: 50px;
	left:90%;

}
#t4:hover{
	color:white;
}
#t5{
	position: absolute;
	top:80%;	
	font-size: 50px;
	left:15%;

}
#t5:hover{
	color:white;
}













