#page1{
  background-color: white;
  overflow-y:scroll;
}
#logo{
  position:absolute;
  left:50%;
    transform: translateX(-50%); 

}
#pic1{
  position:absolute;
  width:50%;
  top:20%;
}
#pic2{
  position:absolute;
  width:50%;
  top:25%;
  right:2%;
}
#pic3{
  position:absolute;
  width:50%;
  top:70%;
  right:2%;  
}
#pic4{
  position:absolute;
  width:50%;
  top:90%;
}

#muted{
  position:fixed;
  width:5%;
  right:2%;
  cursor: pointer;
}
#sub {
  background-color: #d30d19; 
  border: none;
  color: white;
  padding-left: 50px;
   padding-right: 50px;
    padding-top: 20px;
    padding-bottom:20px;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  margin: 4px 2px;
  cursor: pointer;
position: fixed;
  display: none;
  border-radius: 12px;
  /* Adjust position to center */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*.button4 {
  border-radius: 12px;
  top:50%;
  left:30%;
}*/

#storypage{
  background-color: #eed9c4;
}
#nyu{
  background-color: white;
}
#banner{
  background-color: #57068c;
  padding: 70px;
  text-align: center;
  color: white;
  font-size: 30px;
  height:50%;
}
#nyulogo{
  position:absolute;
  top:5%;
  width:15%;
}
.pdf{
  height: 100%;
  aspect-ratio: 4 / 3;
  width:100%;
        margin: 0;
        padding: 0;
}

#introText{
  color:green;
  position:fixed;
  top:40%;
  left:30%;
  font-size:30px;
  animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
#story1{
  color:black;
  font-size:100%;
  position: absolute;
  top:30%;
  width:50%;
  font-style: bold;
  z-index: -1;
}
#story2{
  color:grey;
  font-size:200%;
  position: absolute;
  top:5%;
  right:10%;
  width:50%;
  font-style: bold;
  display:none;
}
#story3{
  display:none;
  color:grey;
  font-size:150%;
  position: absolute;
  top:70%;
  left:10%;
  width:70%;
}
#story4{
  display:none;
  color:black;
  font-size:90%;
/*  position: absolute;
  top:70%;
  left:10%;*/
  width:80%;
  font-style:italic;
}
#story5{
  display:none;
  width:80%;
  font-size:80%;
  position: absolute;
  top:50%;
  right:10%;
}
#story6{
  display:none;
}
#firststory{
  color:red;
  cursor: pointer;
}
#secstory{
  color:white;
  cursor: pointer;
}
#thirdstory{
  color:white;
  cursor: pointer;
}
#forthstory{
  color:red;
  cursor: pointer;
}
#fifthstory{
  color:black;
  cursor: pointer;
}
/*#sixstory{
  color:red;
}*/
#sevenstory{
  color:black;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
#ticker-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.9);
  padding-left: 100%;
  box-sizing: content-box;
 /* display:none;*/
}
#ticker-wrap #ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}
#ticker-wrap #ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1.5rem;
  color: white;
}