body{
	background-image: linear-gradient(pink,purple);
	font-size: 2rem;
	width:60%;
	display: flex;
	flex-direction:column;
	margin:auto;
}

span{
	color:white;
}

#first{
	font-size: 2rem;
	width:30%;
	display: flex;
	flex-direction:column;
	margin:auto;
	z-index:10000;
}
#second{
	font-size: 2rem;
	width:70%;
	display: flex;
	flex-direction:column;
	margin:auto;
	z-index:10000;

}
#third{
	font-size: 2rem;
	width:10%;
	display: flex;
	flex-direction:column;
	margin:auto;
	z-index:10000;

}
#forth{
	font-size: 2rem;
	width:60%;
	display: flex;
	flex-direction:column;
	margin:auto;
	z-index:10000;

}


#gif1{
	position: fixed;
	width:100vw;
	height:100vh;
	mix-blend-mode: screen;
	position: fixed;
	left:0;

}

#gif2{
	position: fixed;
	width:80%;
	right:0;
	bottom:2%;
}
/*p{
	font-size: 2rem;
	width:60%;
	display: flex;
	flex-direction:column;
	margin:auto;
}*/
