html,body{
  height:100%;
  padding:0;
  margin:0;
  background-color:#b0c9e3;
/*  color:white;*/
}

#title{
	font-style: bold;
	font-size: 30px;
/*	    margin-left: auto;
    margin-right: auto;
     width: 15em;*/
     text-align: center;
}
#maincontent1{
text-align: center;
}