@import url(https://fonts.googleapis.com/css?family=Charmonman);
#mainpage{

	    background-image: url("background1.jpeg");
        height: 100%;
        /*background-position: center;*/
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Charmonman';font-size: 50px;
        text-align: center;
        cursor: url(cursor-girl-1.png), default;

}
a{
	color: black;	
}
a:hover{
	color:  white;
}

/*@font-face {
    font-family: "myFirstFont";
    src: url("/Users/Desktop/capstoneProtoypes/textbased/little-days-font/LittleDays-3168.ttf");
}*/
/*#text1{
font-family: 'Charmonman';font-size: 22px;
}*/

@font-face {
    font-family: "myFirstFont";
    src: url("PixeloidSans-nR3g1.ttf");
}

#mainpage2{

/*	    background-image: url("background1.jpeg");
        height: 100%;      
        background-repeat: no-repeat;
        background-size: cover;*/
        background-color: #666699;
        color: #A3A3C2;
        font-family: "myFirstFont";
        font-family: 'Charmonman';font-size: 50px;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
    }
#link2{
	color:#A3A3C2;
}
#link2:hover{
	color:#ffc900;
}
#loadGIF{
	position:relative;
	margin-top: 10%;
	margin-bottom: 10%;
	left:40%;
}

#mainpage3{
	background-color: #000000;
}
video{
display: block;
margin: 0 auto;
}
.container{
	 position: relative;
}
#sunimage1{
	width:12%;
	height:16%;
	position: fixed;
  bottom: 0%;
  left: 50px;
/*	position: relative;
	top:100%;
	left:0%;

	 z-index: -1;*/
	/*float:right;*/
}


#sunimage2{
	width:12%;
	height:16%;
	position: fixed;
  bottom: 0%;
  left: 250px;
}
#sunimage2:hover{
	display:none;
	
}
#sunimage3{
	width:12%;
	height:16%;
	position: fixed;
  bottom: 0%;
  left: 450px;
}
#sunimage4{
	width:12%;
	height:16%;
	position: fixed;
  bottom: 0%;
  left: 650px;

}
#sunimage5{
	width:12%;
	height:16%;
	position: fixed;
  bottom: 0%;
  left: 850px;
}
#sunimage6{
	width:12%;
	height:16%;
	position: fixed;
  bottom: 0%;
  left: 1050px;
}
#sunimage7{
	width:12%;
	height:16%;
	position: fixed;
  bottom: 0%;
  left: 1250px;
}

#textSONG{
	font-size:70px;
}

#warning{
	display:none;
}
#mainpage4{
	    background-color: #8FA01F;
        color: #D3A550;
        font-family: "myFirstFont";
        font-family: 'Charmonman';font-size: 50px;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;

}
#textSONG{
	margin-top: 30%;
	margin-bottom: 20%;
}
#songpt2{
	margin-top: 10%;
	font-family: Arial, Helvetica, sans-serif;
	/*background-color:#FFE0AE;*/

}
#play{
	width:20%;
	height:auto;
	position: absolute;
	top:170%;
	left:40%;

}
#mute{
	width:20%;
	height:auto;
	position: fixed;
	top:-20%;
	left:85%;	
}
#a1{
width: 700px;  
height: auto;
margin-top:0%;  
object-fit:cover;
	/*margin-bottom: 10%;*/
	/*left:50%;*/
}
#nextpart{
		margin-top: 30%;
	margin-bottom: 20%;
}
#nextpart2{
		margin-top: 30%;
	margin-bottom: 20%;
}
#link5{
	color:#D3A550;
}
#mainpage5{
		    background-image: url("background5.png");
        /*height: 100%;*/
        /*background-position: center;*/
/*        background-repeat: no-repeat;
        background-size: cover;*/
        /*font-family: 'Charmonman';font-size: 50px;*/
        text-align: center;       
}
#part1{
	margin-top: 20%;
	margin-bottom: 20%;
	font-size:100px;
}
#part2{
	background-color: #0D659D;
}

#part3{
	margin-top: 20%;
/*	text-decoration: underline;*/
	font-size:70px;
}
#mainpage6{
	background-color: #A9BD93;
	text-align: center;
	font-size:70px;

}
#text6p{
	text-decoration: underline;
}
#text6p:hover{
	cursor: pointer;
}
#demo{
	color:#E8DEFC;
}
#mainpage7{
	background-image: url("background7.jpeg");
	height: 100%;
	background-size: cover;
	 background-repeat: no-repeat;
	text-align: center;
	font-size:50px;	
}
#text7p{
	font-family: 'Charmonman';
	color: #89CFF0;
}
#proceed{
	color: #4682B4	;
	float:left;
	text-decoration: underline;

}
#goback{
color: #4682B4;
float:right;
text-decoration: underline;

}

#mainpage8{
		background-image: url("background8.jpeg");
	height: 100%;
	background-size: cover;
	 background-repeat: no-repeat;
	 	font-size:50px;	
}
#text8p{
	color:white;
	font-family: 'Charmonman';
	position: absolute;
	top:24%;
	left:12%;
}
#link8{
	color:#580000;
}
#link8:hover{
	color:#580000;
}
#text8p2{
		color:white;
	/*font-family: 'Charmonman';*/
	position: absolute;
	top:40%;
	left:60%;
}
#part{
	font-family: 'Charmonman';
}
#mainpage9{
	    background-image: url("background1.jpeg");
        height: 100%;
        /*background-position: center;*/
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Charmonman';font-size: 50px;
        text-align: center;
        cursor: url(cursor-girl.png), default;	
}

#link10{
	color:#A3A3C2;
}
#link10:hover{
	color:#ffc900;
}
#image{
	display:none;
}