#demo{
	text-align: center;

}
#mainpage{
	background-color: #000000;
}
blockquote{
	text-align: center;
}
#image1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#image{
	  display: block;
  margin-left: auto;
  margin-right: auto;
}
#mainpage2{
	 background-image: url("b1.jpeg");
}
/*.container {
  position: relative;
  height: 900px;

}

.centered-element {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform: translateX(50%);
}*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
 /*   border: 2px solid #006100;*/
}
#image1p2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
#down{
	    position:absolute;
        left:90%;
        top: 85%;
}
#bio{
		position:absolute;
        left:86%;
        top: 40%;
}
#bio2{
		position:absolute;
        left:86%;
        top: 20%;
        display:inline;
}
#bio3{
		position:absolute;
        left:86%;
        top: 0%;
        display:none;
}
#image2{
	position:absolute;
/*	  display: block;
  margin-left: auto;
  margin-right: auto;*/
	width:30%;
	display:none;
}