/* This CSS helps for consistent behaviour across browsers */
html,body{
  height:100%;
  padding:0;
  margin:0;
/*  background-color:black;*/
/*  color:white;*/
}
*{
  box-sizing:border-box;
}
a {
    text-decoration: none;
    color:white;
    }
#mainpage{
	background-color:#000;
	color:white;
}
#projectspage{
	background-color:#000;
	color:white;

}
#cvpage{
	background-color:#000;
	color:white;
}
#opengulfpage{
	background-color:#7d75b1;
	color:white;
		font-family: 'Montserrat', sans-serif;
}
#prpage{
	background-color:#d9d9d9;
	color:black;
	font-family: 'Montserrat', sans-serif;
}
#amppage{
	background-color:#ff7a2e;
	color:#000000;
	font-family: 'Montserrat', sans-serif;

}

#comicpage{
	background-color: #f2a2af;
	color:#7d75b1;
	font-family: 'Montserrat', sans-serif;
}
#soundpage{
	background-color: #896a84;
	color:#000000;
	font-family: 'Montserrat', sans-serif;
}
#guiltypage{
	background-color: #896a84;
	color:#000000;
	font-family: 'Montserrat', sans-serif;
}
#guidepage{
	background-color: #a09889;
	color:#000000;
	font-family: 'Montserrat', sans-serif;
}
#videopage{
	background-color: #FFFFFF;
	color:#7aa3e8;
	font-family: 'Montserrat', sans-serif;
}
#bigpicpage{
	background-color: #d9d9d9;
	color:black;
	font-family: 'Montserrat', sans-serif;
}

/*
----------------------------------------------------Index PAGE-------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

#section1 {
  padding: 0;
  margin: 0; 
  height: 100vh;
/*  background: #000000;*/
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  position: relative;
  display: flex;
}

li {
  list-style: none;
}

label {
  position: relative;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 80px;
  width: 80px;
  z-index: 100;
}

#li {
  position: relative;
  height: 80px;
  width: 80px;
  background: #18191f;
  color: #555;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 46px;
  cursor: pointer;
  margin: 0 4px;
  border-radius: 20px;
  box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
    4px 4px 6px rgba(0, 0, 0, 0.2),
    inset -1px -1px 4px rgba(255, 255, 255, 0.05),
    inset 1px 1px 1px rgba(0, 0, 0, 0.1);
}

/* div:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 75px;
  height: 38px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
} */

input[type="checkbox"]:checked ~ div {
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
    inset 4px 4px 6px rgba(0, 0, 0, 0.2);
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 1.5s linear infinite;
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}


/* The flexbox container */
.container{

  width:100%;
  height:100%;

  
  /* Make this div a flexbox */
  display:flex;
  
  /* Center the contained items */
    /*center them horizontally */
    justify-content:center; 
  
}
.box{

  width:200px;
  height:50px;
  position: absolute;
  top: 45%;
}



#section1 {
  height: 100%;
 /* background-color: #00BBF9;*/
  color:white;
}

#name{
	position: absolute;
	top:50%;
/*	right:80%;*/
	margin-left: 10%;
}
#sub{
	position: absolute;
	top:60%;
/*	right:80%;*/
	margin-left: 10%
}
#section2 {
  height: 100%;
 /* background-color: #00F5D4;*/
  color:white;
  /*font-size: 5vw;*/
}

#section3 {
  height: 100%;
 /* background-color: #9B5DE5;*/
  color:white;
}

#section4 {
  height: 100%;
  /*background-color: #FEE440;*/
  color:white;
}
#section5 {
  height: 100%;
  /*background-color: #00BBF9;*/
  color:white;
}

#section6 {
  height: 100%;
  /*background-color: #F15BB5;*/
  color:white;
}

header{
	position: fixed;
	top:0%;
	right:10%;
	color:white;
}
#about{
	position: absolute;
	top:0%;
	right:30%;

}
#alink:hover{
	color:#b19cd9;
}
#projects{
	position: absolute;
	top:0%;
	right:10%;
}
#projects:hover{
	color:#b19cd9;
}
#dis{
	position: absolute;
	top:0%;
	right:85%;
}

/*---------------------------------------------------For projects page---------------------------------- */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
/*  width: 100%;*/
  	width:80%;
	margin-left: 10%;
	margin-top: 30px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

#logo{
	position: absolute;
	width:6%;
	top:2%;
}
#back{
	position: absolute;
	width:3%;
	right:2%;
	top:2%;
	
}
/*#folder{
	width:70%;
	margin-left: 80px;
	margin-top: 50px;

}*/

/*#opengulf{
  	width:90%;
	margin-left: 80px;
	margin-top: 50px;
}*/

/*#folder:hover{
	background-color:blue;

	 
}
*/
/*---------------------------------------------------SEPERATE PAGES------------------------------------------------------*/
#titleOpengulf{
	text-align: center;
	font-size:40px;
}

#subtitleOpengulf{
	line-height:5px;
	text-align: center;
	font-size:20px;
	color:#CAA27E;
	font-style:italic;
}

#demo{
	text-align: center;

}

#maincontentopengulf{
	text-align: center;
	padding-left:10%;
	padding-right: 10%;
	font-size: 20px;
}

#link1{

	text-decoration: underline; 
}
#link1:hover{
	color:#CAA27E; 
}
/*.prvid { 
	 margin-left: auto;
    margin-right: auto;
    display: block;
    width:50%;
    height:50%;
}
*/
video{
	/*max-width: 300%;*/
	float: center;
		 margin-left: auto;
    margin-right: auto;
    display: block;
    width:40%;   
}
#titlePR{
	text-align: center;
	font-size:40px;
}
#subtitlePR{
	line-height:5px;
	text-align: center;
	font-size:20px;
	color:#5e17eb;
	font-style:italic;
}
#rob{
	color:#008037;
}
#maincontentpr{
		text-align: center;
	padding-left:10%;
	padding-right: 10%;
	font-size: 20px;
}
#linktogit{
	text-align: center;
}
#gitimg{
	width:5%;
}
#gitimg:hover{
		background:#008037;
	border-radius: 30px;
}
#link2{
	text-decoration: underline; 
	color:#000000; 
}
#link2:hover{
	color:#008037; 
}


#titlecb{
	text-align: center;
	font-size:40px;
}

#subtitlecb{
	line-height:5px;
	text-align: center;
	font-size:20px;
	color: #843b16;
	font-style:italic;
}
#maincontentamp{
	text-align: center;
	padding-left:10%;
	padding-right: 10%;
	font-size: 20px;
}
#videoAMP{
	/*max-width: 400%;*/
	float: center;
	margin-left: auto;
    margin-right: auto;
    display: block;
    width:30%;
}
#link3{
	text-decoration: underline; 
	color:#000000; 
}
#link3:hover{
	color: #843b16;
}

#titlecomic{
	text-align: center;
	font-size:40px;	
}

#subtitlecomic{
	line-height:5px;
	text-align: center;
	font-size:20px;
	color: #ffee74;
	font-style:italic;
}
#democomic{
	float: center;
	margin-left: auto;
    margin-right: auto;
    display: block;
    width:40%;
}
/*#titlecomic{
	text-align: center;
	font-size:30px;	
}*/

/*#subtitlecomic{
	text-align: center;
	font-size:15px;
	color: #ffee74;
}*/
#maincontentcomic{
	text-align: center;
	padding-left:10%;
	padding-right: 10%;
	font-size: 20px;
}
#link4{
	text-decoration: underline; 
	color:#7d75b1;; 

}
#link4:hover{
	color:#ffee74; 
}
#titlesound{
	text-align: center;
	font-size:40px;	
}

#subtitlesound{
	text-align: center;
	font-size:20px;
	color: #f5deb3;
	font-style:italic;
	line-height:5px;

}
#maincontentsound{
	text-align: center;
	padding-left:10%;
	padding-right: 10%;
	font-size: 20px;
}
#demosound{
	float: center;
	margin-left: auto;
    margin-right: auto;
    display: block;
    width:40%;
}
#link5{
	text-decoration: underline; 
	color:#000000;
}
#link5:hover{
	color: #f5deb3;
}

#titleguide{
	text-align: center;
	font-size:40px;	
}

#subtitleguide{
	text-align: center;
	font-size:20px;
	color: #e6a6cd;
	font-style:italic;
	line-height:5px;
}
#maincontentguide{
	text-align: center;
	padding-left:10%;
	padding-right: 10%;
	font-size: 20px;
}
#demoguide{
	float: center;
	margin-left: auto;
    margin-right: auto;
    display: block;
    width:30%;
}

#directionsguide{
	text-align: center;
	padding-left:10%;
	padding-right: 10%;
	font-size: 10px;
	color:#e6a6cd;
}
#titlevideo{
	text-align: center;
	font-size:40px;	
}

#subtitlevideo{
	text-align: center;
	font-size:20px;
	color: #e889e7;
	font-style:italic;
	line-height:5px;
}
#maincontentvideo{
		text-align: center;
	padding-left:10%;
	padding-right: 10%;
	font-size: 20px;
}
#demovid{
	float: center;
	margin-left: auto;
    margin-right: auto;
    display: block;
    width:50%;
}
#link6{
	text-decoration: underline; 
	color:#7aa3e8;

}
#link6:hover{
	color: #eea234;
}
#changecolor{
	color: #eea234;
}
#titlebigpic{
	text-align: center;
	font-size:40px;	
}
#subtitlebigpic{
	text-align: center;
	font-size:20px;
	color: #008037;
	font-style:italic;
	line-height:5px;
}
#changecolorBig{
color: #ff6412;
}
#maincontentbiggerpic{
	text-align: center;
	padding-left:10%;
	padding-right: 10%;
	font-size: 20px;
}
#link7{
	text-decoration: underline; 
	color:#000000;

}
#link7:hover{
	color: #ff6412;
}

/*--------------------------------------------------------INDEX-------------------------------------------------- */
#ogIndex{
	font-size: 10vh;
/*	position: absolute;*/
	margin-left: 5%;
/*	margin-top: 0%;*/
	/*line-height:10vh;*/
	font-family: 'Montserrat', sans-serif;
}
#prIndex{
	font-size: 10vh;
/*	position: absolute;*/
	margin-left: 5%;
	margin-top: 0%;
	line-height:9vh;
	font-family: 'Montserrat', sans-serif;
}
#ampIndex{
	font-size: 10vh;
/*	position: absolute;*/
	margin-left: 5%;
	line-height:9vh;
	font-family: 'Montserrat', sans-serif;
}
#comicIndex{
	font-size: 10vh;
/*	position: absolute;*/
	margin-left: 5%;
	line-height:9vh;
	font-family: 'Montserrat', sans-serif;
}
#soundIndex{
	font-size: 10vh;
/*	position: absolute;*/
	margin-left: 5%;
	line-height:9vh;
	font-family: 'Montserrat', sans-serif;
}
#uimIndex{
	font-size: 10vh;
/*	position: absolute;*/
	margin-left: 5%;
	line-height:9vh;
	font-family: 'Montserrat', sans-serif;
}

#vidIndex{
	font-size: 10vh;
/*	position: absolute;*/
	margin-left: 5%;
	line-height:9vh;
	font-family: 'Montserrat', sans-serif;
}
#finalIndex{
	font-size: 10vh;
/*	position: absolute;*/
	margin-left: 5%;
	line-height:9vh;
	font-family: 'Montserrat', sans-serif;
}




/*----------------------------------------ABOUT PAGE-------------------------------------- */

#about1{
 font-size: 150px;
}

#about2{
font-size: 150px;
}



/** {
  margin: 0;
  padding: 0;
}*/
#aboutfirst {

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin-top: 2vh;*/
  margin-top: 5%;
}
.line {
  width: 100vw;
}
.left, .right {
  width: 50vw;
  overflow: hidden;
  display: inline-block;
}
.left {
  color:#b19cd9;
  transform: skew(0deg, -15deg);
}
.right {
  color: white;
  transform: skew(0deg, 15deg);
}
.left .content {
  width: 100vw;
  text-align: center;
}
.right .content {
  width: 100vw;
  text-align: center;
  transform: translate(-50vw);
}
/*span {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 10vw;
  text-transform: uppercase;
  line-height: .8;
  transition: ease-out .6s;
}*/

.spanSlow{
	  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 10vw;
  text-transform: uppercase;
  line-height: .8;
  transition: ease-out .6s;
}
.spanFast{
		  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 10vw;
  text-transform: uppercase;
  line-height: .8;
  transition: ease-out .6s;
}



#abouttext{
/*	font-family: Calibri, sans-serif;*/
  width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;

}
#ab1{
width: 70%;
font-size: 6vh;
/*font-size: 2vh;*/
display: block;
text-align: center;
max-width: 100%;
font-family: 'Montserrat', sans-serif;
/*max-height: 600%;*/
}
#abouttext2{
	  width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
#ab2{
	width: 70%;
font-size: 30px;
display: block;
text-align: center;
}
#abouttext3{
	/*line-height: 10px;*/
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
    font-family: 'Montserrat', sans-serif;
}
#ab3{
	width: 70%;
	/*margin-top: 30%;*/
	font-size: 4vh;
	display: block;
	text-align: center;
	max-width: 100%;
	font-family: 'Montserrat', sans-serif;
}
#sec2{

	  height: 100%;
	  width:100%;
	   display: flex;
    justify-content: center;
    /*align-items: left;*/

 /* background-color: #00F5D4;*/
  color:white;
display: block;
font-size: 30%;
text-align: center;
font-family: 'Montserrat', sans-serif;
/*margin-top: 7%;*/


}
#s2{
	height:100%;
display: block;
font-size: 100%;
text-align: center;
color:blue;
font-family: 'Montserrat', sans-serif;

}
#scrolldown{
	position:fixed;
	top:85%;
	width:5%;
	right:48%;
	opacity: 20%
}
#email{
	 text-align: left; 
	 margin-right: 10%;
	width: 5%;

}
#email:hover{
	background:#b19cd9;
	border-radius: 60px;size:20px;
}
#git{
		 text-align: center; 

	width: 5%;
/*	height:10%;*/

}
#git:hover{
	background:#b19cd9;
	border-radius: 60px;size:20px;
}
#twitter{
 text-align: right;
	margin-left: 10%; 
	width: 5%;

}
#twitter:hover{
	background:#b19cd9;
	border-radius: 60px;size:20px;
}

#linked{
	 text-align: center;
	margin-left: 10%; 
	width: 5%;
}
#linked:hover{
	background:#b19cd9;
	border-radius: 60px;size:20px;
}
#contactinfo{
	position: relative;
	text-align: center; 
	bottom: 20%;
}
#cv{
	color:#b19cd9;
}
#cv:hover{
	text-decoration:underline;
}















